# Cấu hình Discord Bot
BOT_TOKEN=MTM0NzMyNzk4MTcyNjQ2NjA0OQ.GUOWOS.nEQ4Cwt_BFe5YV3qTL1qVoo-g2_pMVZqXXE-zs
ADMIN_DISCORD_IDS=123456789012345678

# Cấu hình Web Dashboard
WEB_HOST=0.0.0.0
WEB_PORT=8000
ADMIN_PASSWORD=kem
SECRET_KEY=super_secret_jwt_key_autobuy_2026

# Tên file cơ sở dữ liệu SQLite
DB_PATH=autobuy.db
